<form class="page-wrap bottom-panel">
	<header>
		<div class="toolbar">
			<a class="bar-button back-button"><i class="icon icon-back"></i></a>
			<div class="header-title">
				<div class="title">热点服务</div>
			</div>
		</div>
	</header>
	<div class="content panel-1">
		<div class="w-tabbar dwz-tabs full-size">
			<div class="tab-bar">
				<a class="tab-item active"><span class="txt-h3">今日热点</span></a>
				<a class="tab-item"><span class="txt-h3">学校公告</span></a>
			</div>
			<div class="tab-panel">
				<div class="panel-item unitBox">
					<div class="scroll-content dwz-scroll">
						<div class="scroll tpl-listList1"></div>
					</div>
				</div>

				<div class="panel-item unitBox">
					<div class="scroll-content dwz-scroll">
						<div class="scroll tpl-listList2"></div>
					</div>
				</div>
			</div>
		</div>

	</div>
</form>

<script id="tpl-listList1" type="text/html">
	{{if list1}}
	<ul class="list padding-v">
		{{each list1 as item index}}
		<li class="item padding-h b-line flex-wrap align-center justify-around flex-vertical" onclick="biz.school.goto({{item}})"><span>{{item.name}}</span><span>{{item.time}}</span><i class="icon-right icon"></i></li>
		{{/each}}
	</ul>
	{{else}}
	<div class="no">
		<div class="no-data"></div>
		<div class="txt-h3">暂时还没没有信息奥~</div>
	</div>
	{{/if}}
</script>
<script id="tpl-listList2" type="text/html">
	{{if list2}}
	<ul class="list padding-v">
		{{each list2 as item index}}
		<li class="item padding-h b-line flex-wrap align-center justify-around flex-vertical" onclick="biz.school.goto({{item}})"><span>{{item.name}}</span><span>{{item.time}}</span><i class="icon-right icon"></i></li>
		{{/each}}
	</ul>
	{{else}}
	<div class="no">
		<div class="no-data"></div>
		<div class="txt-h3">暂时还没没有信息奥~</div>
	</div>
	{{/if}}
</script>
